<form method="POST">
    <input type="text" name="nombre" value="{{ actividad.nombre if actividad else '' }}" placeholder="Nombre" required>
    <input type="text" name="descripcion" value="{{ actividad.descripcion if actividad else '' }}" placeholder="Descripcion" required>
    <input type="number" name="precio" value="{{ actividad.precio if actividad else '' }}" placeholder="Precio" required>
    <input type="number" name="destino_id" value="{{ actividad.destino_id if actividad else '' }}" placeholder="DestinoId" required>
    <button type="submit">Guardar</button>
</form>
    
        
